body {
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1400px;
  width: 95%;
  margin: auto;
}

/* header */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding: 0 10px 0 20px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #0065FC;
  border-top: 2px solid #0065FC;
  padding-top: 20px;
}

#inscrire {
  color: #0065FC;
  font-weight: bold;
}

/* couleurs
   #0065FC
   #DEEBFF
   #F2F2F2 */
