/* iPads (portrait and landscape) ----------- */
@media all and (min-width: 767px) and (max-width: 1247px) {

  /* section intro searchbar */
  section h1 {
    font-size: 1.6em
  }

  /* section intro filtre */
  #filtre_lead {
    flex-wrap: wrap;
  }

  /* section populaires */
  #premiere_part {
    display: flex;
    flex-direction: column-reverse;
  }

  #populaire {
    width: 100%;
    border-radius: 0;
    align-items: center;
  }

  #hotel_populaire {
    width: 60%;
  }

  .chambre_populaire img {
    min-width: 220px;
  }

  /* section hébergements */
  #hebergement {
    width: inherit;
    background-color: inherit;
  }

  .logement h3 {
    font-size: 1.2em;
  }

  /* section activité */
  #tourisme {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  #tourisme h3 {
    padding-bottom: 20px;
    font-size: 1.4em;
  }

  .grand {
    width: 97%;
  }

  .grand img {
    height: 260px;
  }

  #fort_ile {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    width: 97%;
  }

  #fort_ile article {
    width: 50%;
  }

  #fort_ile img {
    height: 260px;
  }

  #culturel {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    width: 97%;
  }

  #culturel article {
    width: 50%;
  }

  #culturel img {
    height: 260px;
  }
}
